{{% BLOCKS }}
<!DOCTYPE html>
<html lang="en">
<html>
     <head>
          <meta charset="UTF-8">
          <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <title>Person</title>
     </head>
     <body>
          <div id="content">
               {{# person }}
                    <p>Hello, Person {{name}}!</p>
               {{/ person }}
               {{^ person }}
                    <p>Hello, Guest!</p>
               {{/ person }}
          </div>
     </body>
</html>